{% extends 'baseejs.html' %}
{% load staticfiles %}
<html>
    <body>
        {% block content %}
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h3 class="header center yellow-text text-darken-2">Troll Me</h3>
            </div>
        </div>
        
		<br><br><br><br><br><br>		
		
		<form class="stetic" ALIGN=center>
			<input type="button" align="center" id="trolling" value="Click Me" target=_blank
					onclick="window.location.href='{% url 'app_blog:trolling' %}', target=blank">
		</form>
	</body>
    {% endblock %}
</html>